Name,Funding,Revenue,Description
Tailan New Energy,Series B,,A manufacturing startup based in China
EpVi,Seed,"178,767",A manufacturing startup based in India
Baolongtianxia,Venture - Series Unknown,"4,912,901",A manufacturing startup based in China
Cardboard,Seed,"2,121,570",A manufacturing startup based in Norway
Microchip,Series B,,A manufacturing startup based in China
KingFocus Biomedical,Series C,,A manufacturing startup based in China
Chromatic 3D Materials,Venture - Series Unknown,"5,793,494",A manufacturing startup based in the United States focused on 3D materials
3DProBox,Seed,,A startup involved in 3D manufacturing
Military Fasteners,Private Equity,,A manufacturing startup in the aerospace sector based in the United States
Zhongke Xingchi,Series A,,A manufacturing startup in the automotive industry based in China
Gongyuan Sanqian,Series A,"14,037,517",A manufacturing startup in the electronics sector based in China
Rollstack,Venture - Series Unknown,"12,924,998",A manufacturing startup in the hardware sector based in the United States
Huaxingyu Electronics,Venture - Series Unknown,,A manufacturing startup in the hardware sector based in China
eNOugh,Pre-Seed,"312,652","A startup in the manufacturing, hardware, and AI sectors based in the United Kingdom"
Menovex,Venture - Series Unknown,,A healthcare manufacturing startup based in China
Steelhead Composites,Venture - Series Unknown,"14,999,998",A manufacturing startup in the materials sector based in the United States
Xinwanxing Composites,Venture - Series Unknown,"140,890,711",A manufacturing startup in the materials sector based in China
Holiday Robotics,Seed,"13,143,970",A robotics manufacturing startup based in South Korea
Carbon Language New Materials,Seed,,"An automotive, EV, and manufacturing startup based in China"
Xolopak,Venture - Series Unknown,,A manufacturing startup based in India
Marudhar Rocks International,Venture - Series Unknown,"17,861,821",A manufacturing startup based in India
Green Rubber,Venture - Series Unknown,"6,991,345",A manufacturing startup based in Malaysia
3DEO,Venture - Series Unknown,"3,500,000",A manufacturing startup based in the United States
HDAX Therapeutics,Seed,"3,183,829",A manufacturing startup based in Canada
Feimu Biotechnology,Series A,,A manufacturing startup in the hardware sector based in China
Tianfu Gaofen,Seed,,A manufacturing startup in the hardware sector based in China
Zip Infrastructure,Series A,"2,107,043",A manufacturing startup in the transportation sector based in Japan
Engineered Recycling Systems,Venture - Series Unknown,,A materials and manufacturing startup based in the United States
Cerrion,Seed,"5,000,000",An AI and manufacturing startup based in Switzerland
Bart & Associates,Private Equity,,A manufacturing startup based in the United States
Cramik Additive Solutions,Venture - Series Unknown,,A manufacturing startup based in Spain
Dharaksha Ecosolutions,Seed,"2,953,146",A manufacturing startup based in India
Ruibo Automation,Seed,,An energy and manufacturing startup based in China
BoGong Technology,Series A,,A mechanical engineering and manufacturing startup based in China
Bollegraaf Recycling Solutions,Private Equity,,"An environment, manufacturing, and hardware startup based in the Netherlands"
GC Therapeutics,Series A,"65,000,000",A manufacturing startup based in the United States
Karman Industries,Pre-Seed,"4,000,000",A manufacturing startup in the materials sector based in the United States
Koenigsegg Automotibe,Private Equity,"55,842,836",An automotive and manufacturing startup based in Sweden
PBS Biotech,Venture - Series Unknown,"8,499,999",A biotechnology and manufacturing startup based in the United States
MegaVector,Venture - Series Unknown,,An electronics and manufacturing startup based in China
Falcon Technology,Series B,,A manufacturing startup based in China
Lumiforte,Private Equity,,A manufacturing startup based in the Netherlands
Rhino Digital,Seed,,A manufacturing startup based in China
Tianna Technology,Seed,,A manufacturing startup based in China
FluoRok,Seed,"3,498,728",A chemicals and manufacturing startup based in the United Kingdom
MetOx Technologies,Series B,"25,000,000",A manufacturing startup in the materials sector based in the United States
Experic,Venture - Series Unknown,"10,000,001","A pharmaceuticals, manufacturing, and logistics startup based in the United States"
New Vision Electronics,Venture - Series Unknown,,An automotive and manufacturing startup based in Yizheng
Adaps Photonics,Series C,,An electronics and manufacturing startup based in Shenzhen
Naturaz,Seed,"1,000,000","A healthcare, wellness, manufacturing, and beauty startup based in Oaks"
INMO Glass,Series B,"13,773,915",A manufacturing startup based in Shenzhen
Metahelios,Seed,,An electronics and manufacturing startup based in Glasgow
Xicheng Technology,Venture - Series Unknown,,A hardware and manufacturing startup based in Fuhou
ABH Optics ApS,Pre-Seed,"1,091,484",A manufacturing startup based in Copenhagen
EDIMA solutions,Seed,"43,217",A manufacturing startup based in Ostrava
Guancheng Information,Series A,"7,005,941",A manufacturing startup based in Suzhou
NewBold,Venture - Series Unknown,"1,555,000",A manufacturing startup based in Rocky Mount
Mushroom Material,Seed,"5,097,577",A manufacturing startup in the materials sector based in Auckland
Tanbark Molded Fiber Products,Seed,"1,093,614",A manufacturing startup in the materials sector based in Portland
Kem App,Seed,"3,000,000",A chemicals and manufacturing startup based in Kuwait
Chenxin Semiconductor,Series C,,An electronics and manufacturing startup based in Guangdong
Solid New Materials,Series A,"14,000,896",An electronics and manufacturing startup based in Guangning
Aalo Atomics,Series A,"27,000,000",A manufacturing startup based in Austin
Guidewheel,Series B,"31,000,000",A manufacturing startup based in San Francisco
Zhuoshi Technology,Series B,"13,926,025",A manufacturing startup based in Haidian
Zhytomyr Cardboard Factory,Venture - Series Unknown,,A manufacturing startup based in Zhitomir
Keyang Technology,Series A,"1,392,680",An electronics and manufacturing startup based in Beijing
Optoelectronics Pioneer Institute,Series B,,An electronics and manufacturing startup based in Xian Shi
Jiejiazhi,Seed,,A manufacturing startup based in Dongguan
SofloXR,Pre-Seed,,A manufacturing startup based in Miami
Zhongke Ruijian,Series A,"14,013,649",An AI and manufacturing startup based in Hangzhou
Fasqon,Initial Coin Offering,"300,000",A manufacturing startup based in Funchal
Flikforge,Pre-Seed,"167,000",A 3D manufacturing startup based in Los Angeles
smartFAB,Seed,,An AI and manufacturing startup based in Italy
Austin Powder,Private Equity,,A manufacturing startup based in the United States
Isocom Components,Private Equity,,A manufacturing startup based in the United Kingdom
Yunlu Composite Materials,Series B,,A manufacturing startup based in China
Shenbo Electronics,Seed,,An electronics and manufacturing startup based in China
Hi-P International,Private Equity,"74,051,858",A manufacturing startup based in Singapore
ZwitterCo,Series B,"58,400,000",A manufacturing startup based in the United States
Poen,Series B,"28,189,347",A manufacturing startup based in South Korea
Xinzeyuan Medical,Series B,"13,755,915",A manufacturing startup based in China
FlexGRIP,Venture - Series Unknown,"11,082,354",A manufacturing startup based in Belgium
PulseX Laser,Seed,"1,375,591",A manufacturing startup based in China
Zhuangyijia,Seed,"1,375,591",A manufacturing startup based in China
Allor Manufacturing and Plesh Industries,Private Equity,,A manufacturing startup based in the United States
Innotex inc,Private Equity,,A manufacturing startup based in Canada
Unum Aircraft Seating,Seed,"4,481,170",A manufacturing startup in the aviation sector based in the United Kingdom
Isabers,Venture - Series Unknown,"41,267,745",A manufacturing startup in the materials sector based in China
BOMA,Private Equity,,A manufacturing startup in the materials sector based in Belgium
MaterialGate,Seed,,A manufacturing startup in the materials sector based in Japan
Ricron Panel,Series A,,A manufacturing startup in the materials sector based in India
Hall Laser,Seed,,A manufacturing startup based in China
HINTON LUMBER PRODUCTS,Private Equity,,A manufacturing startup based in the United States
Jasung,Venture - Series Unknown,,A manufacturing startup based in China
MARS,Private Equity,,A manufacturing startup based in the United States
SCPACK GROUP,Private Equity,,A manufacturing startup based in France
DesiCorp,Seed,"1,000,000",A manufacturing startup based in the United States
PostProcess Technologies,Series C,"1,000,000",A 3D manufacturing startup based in the United States
